.me-class-align {
    display: flex;
    justify-content: space-between;
    padding: 30px 0px 30px 0px; 
}
.btn-outline-secondary {
    line-height: 0px;
    padding: 8px;
    margin: 2px;
}
.table thead th {
    border-top: 0px;
}
.table td { 
    vertical-align: middle;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.dropdown-toggle::after {
    display: flex;
    border-left: .0em;
    border-right: .0em;
    border-top: .0em;
    content: "\e5d2";
    padding: 20px;
    margin-left: 0;
    justify-content: center;
    align-items: center;
    font-size: 40px;   

}
